/* Reset */
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }

  body {
    background: #fff;
    font-family: 'Padauk', sans-serif;
    line-height: 1.6rem;
    list-style: none;
  }

  #navbar {
    overflow: hidden;
    background-color:transparent;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: auto;
    
  }


  header {
    background: url('../images/background.jpg') no-repeat center center/cover;
    height: 100vh;
  }
  .logo{
    padding:1.5rem;
    padding-left:1rem;
    padding-top: 0.5rem;
  }

  ul {
    display:flex;
    list-style: none;
}
li{
    padding:0.5em;
    font-weight: bold;
}
.current1 {
    color:#4FD2BD;
}
.container{
    display:flex;
    justify-content: space-between;
    padding:2rem;
    margin:auto;
    text-align: left;
}
.container1 {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    width: 40%;
    padding: 2rem;
}
#showcase {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.showcase-content {
    padding: 0 50px;
}
#showcase .showcase-content h1 {
    margin-bottom: 20px;
    padding-top: 100px;  
    margin-top: 100px;  
    font-size: 30px;
}

#showcase .showcase-content p{
    text-align: left;
    margin-bottom: 20px;
    color:#91A19F;  
    font-size: 20px;  
}
#showcase .showcase-content .btn {
        display: inline-block;
        font-size: 18px;
        color: #fff;
        background: #4FD2BD;
        padding: 13px 20px;
        border: none;
        cursor: pointer;
        text-decoration: none;  
}

#showcase .showcase-content .btn:hover {
    background: rgb(218, 218, 223);
}
.about-info-content h2 {
    padding-top: 5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-size: 30px;
}
.about-info-content p {
    text-align: center;
    width: 50%;
    margin: auto;
    color:#91A19F;    
    font-size: 20px;
}
.pr-skill {
    display: flex;
    
}
.pr-skill1 {
    padding-left: 50px;
    padding-bottom: 50px;
    width: 50%;
}
.pr-skill1 h2 {
    padding-top: 5rem;
    padding-bottom: 1.5rem;
}
.pr-skill1 .progress {
    overflow: hidden;
    height: 0.2em;
    background: #C5CACA;
    border-radius: 0.5em;
    margin-bottom: 0.5em; 
    width: 40%;   
}
.pr-skill1 .progress div{
    height: 0.2em;
    color: #C5CACA;
    text-align: center;
    background: #4FD2BD;
}
.pr-skill .pr-right-img {
    width: 50%;
}
.pr-right-img img {
    min-height: 420px;
    max-height: 678px;
    object-fit: cover;
    display: block;
}

.icons-grid  {
    display: flex;
    background: #4FD2BD;
    color: #fff;
    padding: 20px;
    flex-flow: wrap;
    position: relative;
    justify-content: space-around;

}
.fontawesome .fas{
    padding: 20px;
    font-size: 40px;

}
.fontawesome .far{
    padding: 20px;
    font-size: 40px;

}
.fontawesome .icon-details {
    margin: 20px;  


}
.work {
    width: 100%;
    height: 100%;
}
.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
    grid-template-areas: 
    'img-1 img-2 img-3 img-4'
    'img-5 img-6 img-7 img-8';
}
.image-gallery a {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.image-gallery a i {
    color: rgba(225,225,225,0.6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgba(225,225,225,0.6);
    border-radius: 0.4rem;
    opacity: 0;
    transition: opacity 0.5s;
}
.image-gallery a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity 0.5s;
}
.image-gallery a:hover i,
.image-gallery a:hover::before {
    opacity: 1;
}
.img-1 {
    grid-area: img-1;
    background-image: url('/images/about1.jpg');
}
.img-2 {
    grid-area: img-2;
    background-image: url('/images/about2.jpg');
}
.img-3 {
    grid-area: img-3;
    background-image: url('/images/about3.jpg');
}
.img-4 {
    grid-area: img-4;
    background-image: url('/images/about4.jpg');
}
.img-5 {
    grid-area: img-5;
    background-image: url('/images/about5.jpg');
}
.img-6 {
    grid-area: img-6;
    background-image: url('/images/about6.jpg');
}
.img-7 {
    grid-area: img-7;
    background-image: url('/images/about7.jpg');
}
.img-8 {
    grid-area: img-8;
    background-image: url('/images/about8.jpg');
}
.work-object {
    background-color: #F4F4F4;
    height: 15vh;
    padding-top: 40px;
    align-items: center;
    text-align: center;
}
.work-object a {
    font-size: 1.2rem;
}
.work-object a:hover {
    color: orange;
}

.load-more {   
    text-align: center;
    padding: 35px;
    background: #ECF5F5 ;
}
a {
    text-decoration: none;
    color: #8A9191;
}

.workprocess-title {
    position: relative;
    text-align: center;
    padding-top: 5rem;
}
.workprocess-title h2 {
    font-size: 40px;
    padding-bottom: 2rem;
}
.workprocess-title p {
    color:#91A19F; 
    font-size: 20px;
}
.workprocess-title .buttonimage{
    height: 100vh;
    width: 100%;
    margin-bottom: 0;
    display: block;
}
.play {
    background-color:#4FD2BD;
    border: none;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 6px 3px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}
.fa-play{
       font-size:25px; 
       color:beige;
}
.workprocess-title i:hover {
    color: #333;
}

.display-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    text-align: center;
    padding: 60px;
    position: relative;
    margin-top: 0px;
    background: #ECF6F6;
}
.display-list .fas {
    font-size: 150%;
    color: #91A19F;
    padding-bottom: 1rem;
}
.display-list .list-items .heading-b {
    font-weight: 900;
    color: #333;
    padding-bottom: 0.5rem;
}
.display-list .list-items p {
    color:#91A19F;
}

.para-words .quotes {
    text-align: center;
    height: 400px;
    background: #4FD2BD;
    color: #fff;
}
.quotes-2 {
    text-align: center;
    padding:5px 0px 10px 0px;
}
.quotes .quotes-1{
    font-size: 200%;
    line-height: 1.2em;
    width: 90%;
    padding: 100px 0px 10px 100px ;
}

.vintage-img .vin-img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0rem;
    text-align: center;
}
.vintage-img .vin-img i {
    font-size: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    color:#91A19F ;
    
}
.contact-form {
    text-align: center;
    padding: 100px;
    background: rgb(247, 243, 243);
    line-height: 2.5rem;
    font-size: 20px;
}
.contact-form #head {
    padding-bottom: 10px;
}
.contact-heading p {
    width: 50%;
    padding-right: 50px;
    margin: auto;
    text-align: center;
    color: #91A19F ;
    line-height: 2rem;
}
.contact-form .callback-form {
    width: 100%;
    padding: 20px 0;
}
.contact-form .form-group1 {
    margin-bottom: 15px;
}
.contact-form .form-group {
    margin-bottom: 15px;
}
.contact-form .form-group1 input {
    width: 25%;
    padding: 4px;
    height: 40px;
    border: #F5F5F5 solid 1px;
}
.contact-form .form-group input {
    width: 50%;
    padding: 4px;
    height: 40px;
    border: #F5F5F5 solid 1px;
}
.contact-form .form-group textarea {
    text-align: left;
    padding: 4px;
    height: 150px;
    width: 50%;
    border: #F5F5F5 solid 1px;
}
.msg-btn{
    display: inline-block;
    font-size:15px;
    color: #fff;
    background: #4FD2BD;
    padding:14px 40px ;
    border: none;
    cursor: pointer;
    text-decoration: none;
    
}
.msg-btn:hover {
    background: rgb(218, 218, 223);
}

.footer-content{
    display:grid;
    grid-template-columns:repeat(5,1fr) ;
    grid-gap:3rem;
    background:rgb(24, 23, 23) ;
    color:white;
    margin: auto;
    padding:90px;
}
.footer-content h4 {
    font-size: 20px;
}
.footer-content p {
    color: #91A19F;
}